#formu{
  display: none;
}

#cance{
  display: none;
}


 .cuadro{
        box-shadow: -3px -5px 5px 10px black;
      }


       .bien{
        background: #90caf9;
        margin-left: -20px;
        margin-top: -20px;
        margin-right: -15px;
       }
