#formu{
  display: none;
}

#cance{
  display: none;
}


 .cuadro{
        box-shadow: -3px -5px 3px 3px orangered;
      }


       .bien{
        background: #90caf9;
        margin-left: -20px;
        margin-top: -20px;
        margin-right: -15px;
       }


#imgs{
  width:500px;
  height:500px;
}