#formu{
  display: none;
}

#cance{
  display: none;
}


 .cuadro{
        box-shadow: 2px 2px 2px 3px orangered;
      }


       .bien{
        background: #90caf9;
        margin-left: -20px;
        margin-top: -20px;
        margin-right: -15px;
       }


#imgs{
  width:350px;
   height: 350px;
}

.sinfo{
  height: 25px;
}