#formu{
  display: none;
}

#cance{
  display: none;
}


 .cuadro{
        box-shadow: 1px 1px 1px 2px slategray;
      }


       .bien{
        background: #90caf9;
        margin-left: -20px;
        margin-top: -20px;
        margin-right: -15px;
       }


#imgs{
  width:350px;
   height: 350px;
}

.sinfo{
  height: 100px;
   overflow:auto;
}

img{
  cursor: hand;
}

img:hover{
  -webkit-transition: height 2s;
   width:355px;
   height: 355px;
}