#formu{
  display: none;
}

#cance{
  display: none;
}


 .cuadro{
        box-shadow: 1px 1px 1px 2px slategray;
      }


       .bien{
        background: #90caf9;
        margin-left: -20px;
        margin-top: -20px;
        margin-right: -15px;
       }


#imgs{
  width:350px;
   height: 350px;
}
img{
  cursor: h
}
.sinfo{
  height: 100px;
   overflow:auto;
}

img{
  cursor: pointer;
}

#imgs:hover {
  transition: all linear 0.2s;
   -webkit-transition: all linear 0.2s;
      -o-transition: all linear 0.2s;
      -ms-transition: all linear 0.2s;
      -moz-transition:all linear 0.2s;
   background: lightskyblue;
}