


#imgs{
  width:350px;
   height: 350px;
 
}



.image {

position: relative;

width: 100%; /* for IE 6 */

}

h2 {

position: absolute;

top: 250px;

left: 0;



}


h2 b {
 
color: white;

font: bold 24px/45px Helvetica, Sans-Serif;

letter-spacing: -1px;

background: rgb(0, 0, 0);

opacity: 0.5;
padding: 10px;
 
}

.hola{
  display: block;
}