


#imgs{
  width:350px;
   height: 350px;
 
}



.image {

position: relative;

width: 100%; /* for IE 6 */

}

h2:hover {

position: absolute;

top: 200px;

left: 0;

width: 100%;

}


h2 span:hover {

color: white;

font: bold 24px/45px Helvetica, Sans-Serif;

letter-spacing: -1px;

background: rgb(0, 0, 0);

background: rgba(0, 0, 0, 0.7);

padding: 10px;

}